body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.masthead {
    height: 100vh;
    background-image: url(forservice.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
h1 {
    font-size: 5.5rem;
    font-weight: bold;
}
h3 {
    font-weight: bold;
    font-style: italic;
}
#header-content {
    margin-top: auto;
    margin-bottom: auto;
}
@media (min-width: 992px){
.masthead {
    height: 100vh;
}
}
#btn-one:hover {
    color:white;
    background-color: #ee3f00f1;
    border-color: #ee3f00f1;
    transform: scale(1.05);
    transition: background-color 1s, border-color 1s, transform 1s;
}
#btn-second:hover {
    transform: scale(1.05);
    transition: background-color 1s, border-color 1s, transform 1s;
}
.btn {
    border-radius: 15px;
}
#btn-one {
background-color: orangered;
border-color: orangered;
color: #fff;
border-radius: 15px;
}
.btn-xl {
    padding: 1.25rem 2.5rem;
}
.serviceBox { 
    text-align: center; 
}
.serviceBox .service-icon{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: orangered;
    margin-bottom: 25px;
    font-size: 40px;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.serviceBox:hover .service-icon{ 
    transform: scale(1.3);
    transition: transform 1s;
}
.serviceBox .title{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #471437;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    position: relative;
}
.serviceBox .description{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #6f6f6f;
}
@media (max-width:421px){
    h1 {
        font-size: 4.5rem;
    }
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 30px; }
}
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}